{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block extrastyles %}
  <link type="text/css" rel="stylesheet/less" href="{% static 'css/tables.less' %}" />
  <link type="text/css" rel="stylesheet/less" href="{% static 'css/bets.less' %}" />
  <link type="text/css" rel="stylesheet/less" href="{% static 'css/messages.less' %}" />
  
{% endblock extrastyles %}

{% block extrascripts %}
  <script type="text/javascript">
    $(function(){
      $('.close').on('click', function(){
        $(this).parent().removeClass('active').remove();
      });

      $('.remove').on('click', function() {
        message = 'Are you sure that you want to delete this item?';
        if (confirm(message)) {
          $.get($(this).data('remove')).done(function() {
            window.location.reload();
          });
        }
      });

      $('.stubborns').each(function() {
        $(this).val($(this).data('stubborn'));
      }).on('change', function() {
        var url = 'stubborn/' + $(this).data('pk') + '/' + $(this).val();
        $.get(url).done(function() {
          window.location.reload();
        }).fail(function() {
          alert(url);
        });
      });
    });
  </script>
{% endblock extrascripts %}

{% block content %}

{% if messages %}
<div class="messages {% if messages %}active{% endif %}">
  <ul>
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  <span class="close"><p>D</p></span>
</div>
{% endif %}

{% if infos %}
<div class="box-border">
  <table id="table-bets">
    <thead>
      <tr>
        <th>1&ordm</th>
        <th>2&ordm</th>
        <th>3&ordm</th>
        <th>4&ordm</th>
        <th>5&ordm</th>
        <th>6&ordm</th>
        <th>{% trans "Stubborn" %}</th>
        <th colspan="2">{% trans "Hits" %}</th>
        <th></th>
        <th>
          <a href="{% url 'megasena-check-all' %}" class="action-btn check-all">Y</a>
        </th>
        <th>
          <a href="{% url 'megasena-create-bet' %}" class="action-btn">&</a>
        </th>
      </tr>
    </thead>
    {% regroup infos by concourse as bets_list %}
    {% for bets in bets_list %}
    <tr>
      <td colspan="12">{{ bets.grouper }}</td>
    </tr>
    {% for bet in bets.list %}
    <tr>
      <td>{{ bet.n01 }}</td>
      <td>{{ bet.n02 }}</td>
      <td>{{ bet.n03 }}</td>
      <td>{{ bet.n04 }}</td>
      <td>{{ bet.n05 }}</td>
      <td>{{ bet.n06 }}</td>
      <td>
        <select class="stubborns" data-stubborn="{{ bet.stubborns }}" data-pk="{{ bet.id }}">
          <option value="1">-----</option>
          <option value="2">Two</option>
          <option value="4">Four</option>
          <option value="8">Eight</option>
        </select>
      </td>
      <td>{% if bet.hits == None %}-{% else %}{{ bet.hits }}{% endif %}</td>
      <td><span class="check-status {% if bet.hits == None %}none{% else %}{% if bet.hits > 3 and object.hits < 7 %}match{% else %}dont-match{% endif %}{% endif %}"></span></td>
      <td>
        <a href="{% url 'megasena-check-bet' bet.concourse.concourse %}" class="action-btn check">J</a>
      </td>
      <td>
        <a href="{% url 'megasena-update-bet' bet.concourse.concourse %}" class="action-btn update">p</a>
      </td>
      <td>
        <a href="#" class="action-btn remove" data-remove="{% url 'megasena-delete-bet' bet.id %}">#</a>
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="12">{% trans "List of your great bets" %}</td>
      </tr>
    </tfoot>
  </table>
</div>
{% else %}
<div class="box-border">
  <div class="no-data">
    <div class="title">
      <h3>{% trans "You have no bets" %}</h3>
    </div>
    <div class="texts">
      <p>{% trans "Click" %} <a href="{% url 'megasena-create-bet' %}" alt="Check">{% trans "here" %}</a> {% trans "to add a bet" %}.</p>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}